.navbar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkkhaki;

}
.navbar ul{
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}